<div class="container">
	<div class="row">
		<div class="offset-sm-2 col-sm-8">

			<ul class="list-unstyled list-group">
				<li class="list-group-item text-center">
					<button type="button" class="btn btn-primary">Primary <%= ENV['CI_VAR'] || 'TEST VAR' %></button>
				</li>
				<li class="list-group-item text-center">
					<button type="button" class="btn btn-secondary">Secondary</button>
				</li>
				<li class="list-group-item text-center">
					<button type="button" class="btn btn-success">Success</button>
				</li>
				<li class="list-group-item text-center">
					<button type="button" class="btn btn-danger">Danger</button>
				</li>
				<li class="list-group-item text-center">
					<button type="button" class="btn btn-warning">Warning</button>
				</li>
				<li class="list-group-item text-center">
					<button type="button" class="btn btn-info">Info</button>
				</li>
				<li class="list-group-item text-center">
					<button type="button" class="btn btn-light">Light</button>
				</li>
				<li class="list-group-item text-center">
					<button type="button" class="btn btn-dark">Dark</button>
				</li>
				<li class="list-group-item text-center">
					<button type="button" class="btn btn-link">Link</button>
				</li>
			</ul>

		</div>
	</div>
</div>